@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido <br> Página de Seguimiento académico<br><br></h1>
    <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Misión!</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Educamos a través de un enfoque Integral y Personalizado, fundamentado en los valores, en colaboración con los padres de familia. Estamos comprometidos con la excelencia académica de estándares Internacionales y la formación humana, para servir a la sociedad, fundamentados en la filosofía de la Obra Bien Hecha.</p>
    
                    </div>
                </div>
            </div>
    </section>
    <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Visión</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Seremos reconocidos como un colegio líder en el país, que entregue a la sociedad a estudiantes íntegros que se destaquen profesional, personal, familiar y socialmente con coherencia de vida y sentido de servicio. Nos proponemos consolidar un proyecto educativo enmarcado en las tendencias innovadoras globales, que apunten al desarrollo del pensamiento, a la investigación, al cultivo de habilidades e intereses propios y a la responsabilidad social.</p>
    
                    </div>
                </div>
            </div>
    </section>
    <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Nuestra Página</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Esta pagina fue creada con el fin de dar apoyo académico a nuestros estudiantes.</p>
    
                    </div>
                </div>
            </div>
    </section>
</div>
