@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Andrés Felipe Burbano Salazar<br>CC 1085296026<br>andresfelipe@udenar.edu.co<br><br>EVER AUGUSTO GÓMEZ ROJAS<br>CC 1069925138<br>ag2725@gmail.com<br><br>Jhonatan Gomez Pimiento<br>CC 1005706923<br>jhonatangomez1235@gmail.com<br><br>Luis Gerardo Hincapié Gutiérrez<br>CC 80489554<br>daguerotipo@gmail.com.</p><br><br>
